.introduce_box{
    background-color: rgb(210, 210, 210);
    padding-top:80px;
    height : 800px;
    width : 1200px;
    margin : auto;
    border-radius: .5em;
    text-align: center;
}

.person{
    background-color: rgb(152, 144, 129);
    height : 200px;
    width : 200px;
    margin-left:50px;
    margin-right:50px;
    float:left;
    border-radius: 50% ;
    position:relative;
    text-align: center;
}
.person:hover img{
    transform : scale(1.4);
}
.howtolist{
    background-color: aqua;
    width:1500px;
    height:600px;
    margin:auto;
    text-align: center;
    position: relative;
}
.a img{
    transition: all 0.1s linear;
}
.a:hover img{
    transform : scale(1.2);
}