
*{
    font-family: 'Noto Sans KR', sans-serif;
    user-select: none;
}

html, body {
    margin: 0;
}

#logo{
    width: 200px;
    cursor: pointer;
}

.logo{
    transition: 0.3s;
}

h1{
    vertical-align: middle;
    text-shadow: 2px 2px 3px gray;
}

h1 span{
    border-radius : 25px 25px 25px 0;
    border: 4px solid #b4b4b4;
    padding: 10px 30px 10px 30px;
}

#nav-sub{
    text-align: center;
    display: none;
    position: absolute;
    left: 50%;
    top: 30%;   
}

#nav-sub p{
    font-size: large;
    font-weight: bold;
}

.T{
    font-weight: 900;
    font-size: 22px;
}

.C{
    font-weight: bolder;
    font-size: 18px;
}

#main{
    position: relative;
    background-color: rgb(210, 210, 210);
    margin: 0 auto;
    margin-top: -64px;
    width: 1200px;
    height: 1900px;
    top: 0;
    overflow: hidden;
}

#main h1{
    position: relative;
    display: block;
    font-size: 50px;
    text-align: center;
    /* vertical-align:middle; */
    line-height: 300px;
    margin-bottom: 10px;
    margin-top: 0;
    height: 200px;
}

#main h3{
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bold;

}

#intro-image{
    position: relative;
    background-color: rgba(128, 128, 128,0.5);
    text-align: center;
    width: 600px;
    left: 25%;
    border-radius: 25px;
    margin-bottom: 20px;
}

/* Model 아이콘 */
.material-icons.md-100 {
    font-size: 150px;
    height: 100px;
    position: relative;
}

/* Excel 아이콘 */
.material-icons.md-101 {
   font-size: 150px;
   height: 100px;
   position: relative;
}

#intro-smallTitle{
    position: relative;
    background-color: rgba(128, 128, 128,0.5);
    text-align: center;
    width: 600px;
    left: 25%;
    border-radius: 25px;
    margin-bottom: 20px;
}

.smallTitle{
    font-style: normal;
    font-size: 80px;
    font-weight: bold;
    height: 100px;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    left: 30px;
}

.intro-content{
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1200px;
    height: 300px;
}

.intro-content-image{
    position: absolute;
    margin-left: 30px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 0.3s;
    z-index: 1;
    /* background-color: honeydew; */
}

.intro-content-image:hover{
    transform:scale(1.8,1.8);
    z-index: 2;
}

.intro-content-contents{
    position: absolute;
    display: inline;
    left: 330px;
    margin-left: 30px;
    padding-left: 30px;
    /* background-color: green; */
    width: 835px;
    height: 300px;
    float: right;
    border-left: 4px solid rgba(180, 180, 180);
    z-index: 0;
}

.intro-content-contents h2{
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 40px;
    transition: 0.3s;
}
.intro-content-contents h2:hover{
    transform-origin: left center;
    transform: scale(2.0);
}


.intro-content-contents p{
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}
.intro-content-contents p:hover{
    display: block;
    transform-origin: left center;
    transform: scale(1.2);
    background-color: rgb(230,230,230);
}