
*{
    font-family: 'Noto Sans KR', sans-serif;
}
#logo{
    width: 200px;
    cursor: pointer;
}

.logo{
    transition: 0.3s;
}

.logo:hover{
    scale: (1.2,1.2);
}

#nav-sub{
    text-align: center;
    display: none;
    position: absolute;
    left: 50%;
    top: 30%;   
}

#nav-sub p{
    font-size: large;
    font-weight: bold;
}

.T{
    font-weight: 900;
    font-size: 22px;
}

.C{
    font-weight: bolder;
    font-size: 18px;
}

#main{
    background-color: rgb(210, 210, 210);
    margin: 0 auto;
    width: 1500px;
}