* {
	box-sizing: border-box;
}


.container{
  margin: 0 auto;
  width: 1500px;
  text-align: center;
}

#left{
    background-color: gray;
    width: 25%;
    height: 800px;
    position: relative;
    float: left;
}


.searchBar{
    position: absolute;
    left: 5%;
    top: 10px;
    width: 100%;
    max-width: 400px;
    display: inline-flex;
}

.searchBar__input{
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    flex-grow: 1;
    padding: 10px;
    outline: none;
    /* border:1px solid gray; */
    border: none;
    border-radius: 5px 0 0 5px;
    background: rgb(230,230,230);
    transition: background 0.25s, box-shadow 0.25s;
    float: left;
    box-shadow: 2px 3px 3px black;
    height: 40px;
}

.searchBar__input:focus{
    /* background: rgb(209, 221, 78); */
    background: rgb(176, 187, 141);
}

.searchBar__input::placeholder{
    color: black;
}

.searchBar__button{
    position: relative;
    top: 0px;
    left: 4px;
    width: 60px;
    height: 40px;
    box-shadow: 2px 3px 3px black;
    color: gray;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s;
}

.searchBar__button:active{
    transform: translate(3px,3px);
}

.searchBar__refresh{
    position: absolute;
    top: 0px;
    left: 290px;
    width: 50px;
    height: 40px;
    box-shadow: 2px 3px 3px black;
    color: gray;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s;
}

.searchBar__refresh:active{
    transform: translate(3px,3px);
    background-color: rgb(240,164,164);
}



#requirement{
    position: absolute;
    font-size: 15px;
    top: 40px;
    left: 35%;
    font-weight: bold;
}

#searchDisplay{
    position: absolute;
    width: 365px;
    height: 89.5%;
    background: rgb(230, 230, 230);
    left: 5px;
    top: 10%;
    overflow:auto;
}

/* 지도 사이즈 */
#map{
    z-index: 1;
    width:50%;
    height:800px;
    float: left;
    background-color: none;
    border-top: gray solid 2px;
    border-bottom: gray solid 2px;
}

#right{
    background-color: darkolivegreen;
    width: 25%;
    height: 800px;
    position: relative;
    float: left;
    font-weight: bold;
}



#excelAdd{
    position: absolute;
    width: 365px;
    height: 100px;
    left: 5px;
    top: 5px;
    background-color: gray;
}

#markerVisible{
    position: absolute;
    width: 365px;
    height: 100px;
    left: 5px;
    top: 110px;
}

hr{
    border: none;
    border-top: 3px dashed gray;
    color: #fff;
    height: 0.1px;
    left: 5px;
    width: 365px;
    position: absolute;
    top:215px;
}

#instanceBox{
    position: absolute;
    width: 365px;
    height: 555px;
    left: 5px;
    top: 30%;
    /* background-color: #BEBEBE; */
    /* background-color:white; */
    background-color:rgb(230,230,230);
    border-radius: 10px 10px 10px 10px;
    border: gray solid 5px;
}

#excelAdd{
    background: rgb(176, 187, 141);
    border-radius: 5px;

}

#markerVisible{
    background: rgb(176, 187, 141);
    border-radius: 5px;
}

#button1{
    background: gray;
    position: absolute;
    width: 260px;
    height: 65px;
    left: 10px;
    margin-top: 5px; 
    float: left;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    line-height: 65px;
    font-size: x-large;
    transition: transform 0.5s, opacity 0.5s;
    
}

#button1:hover{
    transform: scale(0.9,0.9);
    opacity: 0.6;
}

#button2{
    background: gray;
    position: absolute;
    width: 108.333px;
    height: 65px;
    left: 10px;
    margin-top: 5px; 
    float: left;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    line-height: 65px;
    font-size: x-large;
    transition: transform 0.5s, opacity 0.5s;
}

#button2:hover{
    transform: scale(0.9,0.9);
    opacity: 0.6;
}

.icon{
    background: gray;
    width: 75px;
    height: 65px;
    position: absolute;
    line-height: 65px;
    margin-top: 5px;
    left : 280px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    line-height: 65px;
    font-size: x-large;
    transition: transform 0.4s, opacity 0.5s;
}

.icon:hover{
    transform: scale(0.9,0.9);
    opacity: 0.6;
}

#markerVisible > .icon{
    width: 108.333px;
    left: 128.333px;
}

#markerVisible > .icon2{
    width: 108.333px;
    left: 246.666px;
}

.material-icons.md-48 {
    font-size: 36px;
    text-align: center;
    line-height: 65px;
}


#button1 input[type="file"] {  
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0);
    border: 0;

  }
  #icon input[type="submit"] {  
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0);
    border: 0;
    /*display:none;*/
  }

  .blink {
            opacity: 0.5;
}

.inquiry{
    position: relative;
    width: fit-content;
    /* background-color: blue; */
    margin-top: 30px;
    margin-left: 30px;
    top: 220px;
    
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color:gray
}

.detailLocation{
    position: relative;
    margin-top: 3px;
    margin-left: 0px;
    /* background-color: yellow; */
    text-align: right;
    width: fit-content;
}

.imgBox{
    z-index: 1;
    cursor: not-allowed;
    /* border: gray solid 3px; */
    transition: all 0.3s;

    position:absolute;
    width: 300px;
    height:200px;
    background-color:gray;
    left:30px;
    top:20px;

    /* text-align: center;
    display:table;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.imgBox:hover{
    transform: scale(2.0,2.0);
    border-radius: 5px;
}

#carImage{
    z-index: 2;
    text-align: center;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.carnum{
    margin-top: 20px;
}

#jibun{
    text-align: left;
}

#doro{
    text-align: left;
}