<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/introductionList.css">
    <link rel="stylesheet" href="../static/css/sideBar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/developer.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="../static/js/sideBar.js"></script>
    <script src="https://kit.fontawesome.com/98399ba990.js" crossorigin="anonymous"></script>
    <style>
        #openNav {
            position: fixed;
        }

        #nav-sub {
            text-align: center;
            display: none;
            position: fixed;
            left: 50%;
            top: 30%;
        }

        #nav-sub p {
            font-size: large;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <header
        style="background-color: rgba(128,128,128,1.0);margin: 0; height: 100px; text-align: center;line-height: 100px;position: sticky;top: 0;z-index: 2;">
        <img class="logo" src="../static/images/Logo.png" alt="Logo" style="width:150px;vertical-align: middle;" />
    </header>
    <nav id="mySidenav" class="sidenav" style="background-color: #000000;z-index: 3;">
        <a class="T" href="http://localhost:5000/"><i class="fas fa-home" style="font-size: 40px;"></i></a>
        <a id="closeNav" href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
        <a class="T" href="#">서비스 이용방법</a>
        <a class="C" href="http://localhost:5000/howtolist">&nbsp&nbsp&nbsp리스트 조회</a>
        <a class="C" href="http://localhost:5000/howtomap">&nbsp&nbsp&nbsp맵 조회</a>
        <a class="C" href="http://localhost:5000/howtosave">&nbsp&nbsp&nbsp파일 로컬저장</a>
        <a class="C" href="http://localhost:5000/howtowarn">&nbsp&nbsp&nbsp유의사항</a>
    </nav>
    <article style="background-color: #d2d2d2; text-align: center;">
        <aside style="text-align: left;position: fixed;">
            <span id="openNav" style="font-size:30px;cursor:pointer;margin: 30px 10px 10px 10px;"
                onclick="openNav();">&#9776; Menu<br></span>
        </aside>
        <h2 style="margin-top:0px;">리스트 조회 이용방법</h2>
        <!--<img src="../static/images/howtolist.png" style="margin-top:60px;margin-bottom: 60px;"><img src="../static/images/howtolist1.png" style="margin-top:60px;margin-bottom: 60px;">!-->
        <div class="howtolist" style="background-color: #d2d2d2;">
            <div class="a">
                <img src="./static/images/htl.png" style="float:left;position:relative;margin:40px 20px 20px 60px;">
            </div>
            <p style="font-size:30px;float:left;text-align: left;margin:70px 20px 20px 20px;">
                <br>① : 이미지 업로드
                <br>② : 이미지 변환
                <br>③ : 번호판 이미지 저장
                <br>④ : 변환 데이터 저장(excel)
                <br>⑤ : 업로드한 이미지 표시
                <br>⑥ : 변환된 번호판 표시
                <br>⑦ : 변환된 데이터 표시
            </p>
        </div>
        <div class="howtolist" style="background-color: #d2d2d2;">
            <div class="a">
                <img src="./static/images/htl1.png" style="float:left;position:relative;margin:40px 20px 20px 60px;">
            </div>
            <p style="font-size:30px;float:left;text-align: left;margin:70px 20px 20px 20px;">
                <br> -변환이 완료된 페이지 예시<br>
                <br>▶현재 상태에서 ③,④을 이용 <br>
                <br>▶⑥에서 이미지 클릭 시 다운로드<br>
                <br>▶순서는 항상 ①업로드 후 ②변환
            </p>
        </div>
    </article>
    <div id="nav-sub">
        <!-- <i id="icon" class="fas fa-map-marked-alt"></i> -->
        <img class="logo" id="logo" src="../static/images/Logo.png" alt="Logo" />
        <p>차찾자 Corp.</p>
        <p>LPR-based Data Visualization Services</p>
    </div>
    <footer id=" main" class="footer-basic">
        <div class="social">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/RaicLee/Capstone_Design"><i class="fab fa-github"></i></a>
        </div>

        <ul class="list-inline">
            <li class="list-inline-item"><a href="http://127.0.0.1:5000/">Home</a></li>
            <li class="list-inline-item"><a href="http://127.0.0.1:5000/xlupload">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">(주)차찾자 | 대표: 군자동 삼겹살 <br>
            주소: 서울특별시 광진구 능동로 209<br>
            개인정보 처리방침 | 서비스 이용 약관 <br><br>
            @ 2021.CCC Corp., Inc.All rights reserved <br><br><br><br></p>
    </footer>
</body>

</html>