<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/introductionList.css">
    <link rel="stylesheet" href="../static/css/sideBar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/developer.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="../static/js/sideBar.js"></script>
    <script src="https://kit.fontawesome.com/98399ba990.js" crossorigin="anonymous"></script>
    <style>
        #openNav {
            position: fixed;
            z-index: 2;
        }

        #nav-sub {
            text-align: center;
            display: none;
            position: fixed;
            left: 50%;
            top: 30%;
            z-index: 2;
        }

        #nav-sub p {
            font-size: large;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <header
        style="background-color: rgba(128,128,128,1.0);margin: 0; height: 100px; text-align: center;line-height: 100px;position: sticky;top: 0;z-index: 2;">
        <img class="logo" src="../static/images/Logo.png" alt="Logo" style="width:150px;vertical-align: middle;" />
    </header>
    <nav id="mySidenav" class="sidenav" style="background-color: #000000;z-index: 3;">
        <a class="T" href="http://localhost:5000/"><i class="fas fa-home" style="font-size: 40px;"></i></a>
        <a id="closeNav" href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
        <a class="T" href="#">서비스 이용방법</a>
        <a class="C" href="http://localhost:5000/howtolist">&nbsp&nbsp&nbsp리스트 조회</a>
        <a class="C" href="http://localhost:5000/howtomap">&nbsp&nbsp&nbsp맵 조회</a>
        <a class="C" href="http://localhost:5000/howtosave">&nbsp&nbsp&nbsp파일 로컬저장</a>
        <a class="C" href="http://localhost:5000/howtowarn">&nbsp&nbsp&nbsp유의사항</a>
    </nav>
    <article style="background-color: #d2d2d2; text-align: center;">
        <aside style="text-align: left;position: fixed;z-index: 2;">
            <span id="openNav" style="font-size:30px;cursor:pointer;margin: 20px 10px 10px 10px;"
                onclick="openNav();">&#9776;
                Menu<br></span>
        </aside>
        <!--<img src="../static/images/howtolist.png" style="margin-top:60px;margin-bottom: 60px;"><img src="../static/images/howtolist1.png" style="margin-top:60px;margin-bottom: 60px;">!-->
        <div id="main"
            style="background-color: #d2d2d2;width: 1500px;height: 1300px;margin-top: 0px;overflow: visible;">
            <h2 style="margin-top:0px;">맵 조회 이용방법</h2>
            <div class="a">
                <img src="../static/images/howto/howmap.png" style="float:left;position:relative;margin-right:20px;">
            </div>
            <p style="font-size:30px;float:left;text-align: left;margin-top: -30px;margin-left:20px;">
                <br>① : 엑셀 파일 선택
                <br>② : 클릭 시 업로드 실행
                <br>③ : 번호판 검색기능
                <br>③ : 처음 돋보기 클릭 시 ④에 번호판 표시
                <br>④ : 번호판 표시, 번호판 클릭
                <br>⑤ : 번호판 새로고침
                <br>⑥ : ④의 번호판 클릭 시 마커 표시
                <br>⑦ : ⑥의 마커 클릭 시 데이터 표시
                <br>⑧ : ⑥의 마커 표시/미표시/제거
                <br>⑨ : 시간별 마커목록 표시/클릭시 ⑦ 표시
            </p>
            <div class="a">
                <img src="../static/images/howto/howmap2.png"
                    style="float:left;position:relative;margin-right:20px;width: 940px;height: 503.99px;margin-top: 50px;z-index: 1;">
            </div>
            <p
                style="position: absolute; font-size:30px;text-align: left;margin-top: 100px;margin-left:20px;top: 480px;left: 960px;z-index: 0;">
                <br>① : DB를 통해 반환받은 차량번호 (Button)
                <br>② : 시간별로 정렬된 마커를 리스트화
                <br>③ : 마우스오버 이벤트를 통한 커스텀오버레이구현
                <br>④ : (마커클릭시) 해당 마커의 상세정보를 Display
            </p>
        </div>
    </article>
    <div id="nav-sub">
        <!-- <i id="icon" class="fas fa-map-marked-alt"></i> -->
        <img class="logo" id="logo" src="../static/images/Logo.png" alt="Logo" />
        <p>차찾자 Corp.</p>
        <p>LPR-based Data Visualization Services</p>
    </div>
    <footer id=" main" class="footer-basic">
        <div class="social">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/RaicLee/Capstone_Design"><i class="fab fa-github"></i></a>
        </div>

        <ul class="list-inline">
            <li class="list-inline-item"><a href="http://127.0.0.1:5000/">Home</a></li>
            <li class="list-inline-item"><a href="http://127.0.0.1:5000/xlupload">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">(주)차찾자 | 대표: 군자동 삼겹살 <br>
            주소: 서울특별시 광진구 능동로 209<br>
            개인정보 처리방침 | 서비스 이용 약관 <br><br>
            @ 2021.CCC Corp., Inc.All rights reserved <br><br><br><br></p>
    </footer>
</body>

</html>