<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTP-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4a81af8fef0943a32040477087ec034a&libraries=services"></script>
    <!-- <script type=" text/javascript" src="../static/js/kakaoMap.js"></script> -->
    <script type=" text/javascript" src="../static/js/mouseEvent.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/kakaoMap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/overlay.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/kakaoMap.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/overlay.css') }}"> -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <title>맵 Test</title>

</head>

<body>

    <!-- testData.txt 파일읽고 출력하기 -->
    <!-- {%for i in n%}
    <p>{{i}}</p>
    {% endfor%} -->
    <!-- testData.txt 파일읽고 출력하기 -->

    <!-- db데이터 쓰기 -->
    <!-- {%for i in data%}
    <p>{{i}}</p>
    {% endfor%} -->
    <!-- db데이터 쓰기-->

    <div class="container">
        <h1 style="text-align:center; font-size: 50px;">Map test</h1>

        <div id="left">
            <div class="searchBar">
                <form id="carnumForm" onsubmit="return false">
                    <input id="input" type="text" class="searchBar__input" name="search"
                        placeholder="Enter Plate Number">
                    <button type=" button" class="searchBar__button" id="ajax">
                        <i class="material-icons">search</i>
                    </button>
                    <button type=" button" class="searchBar__refresh" onclick="alert('새로고침(구현X)')">
                        <i class="material-icons">refresh</i>
                    </button>
                </form>
            </div>
            <p id="requirement">ex) 12마3456</p>
            <div id="searchDisplay">
                <!-- 버튼컴포넌트 삽입영역 -->
            </div>
        </div>

        <div id="map"></div>
        <div id="right">
            <div id="excelAdd">Button of Adding and Uploading File
                <form action="http://localhost:5000/xlupload" method="post" enctype="multipart/form-data">
                    <div id="button1" style="cursor: pointer;"><label for="add">Click and Upload</label>
                        <input type="file" name="file" id="add">
                    </div>

                    <div class="icon" style="cursor: pointer;">
                        <label for="sub">
                            <i class="material-icons md-48">
                                file_upload
                            </i>
                        </label><input type=submit value=Upload id="sub">
                    </div>
                </form>
            </div>
            <div id="markerVisible">Button of Marking On/Off
                <div id="button2" style="cursor: pointer;" onclick="showMarkers()">
                    <i class="material-icons md-48">
                        <!-- Marker On -->
                        push_pin
                    </i>
                    On
                </div>
                <div class="icon" style="cursor: pointer;" onclick="hideMarkers()">
                    <i class="material-icons md-48">
                        <!-- Marker Off -->
                        push_pin
                    </i>
                    Off
                </div>
                <div class="icon icon2" style="cursor: pointer;" onclick="alert('마커삭제(구현X)')">
                    <i class="material-icons md-48">
                        <!-- Marker Off -->
                        push_pin
                    </i>
                    Del
                </div>
            </div>
            <hr />
            <div id="instanceBox">
                <!-- <p style="text-align: center; font-size: 20px; margin-top: 200px;">
                    Please
                    click
                    the marker you<br>want
                    to check.
                </p> -->
                <div class="imgBox"
                    style="position:absolute; width: 300px; height:200px; background-color:gray; left:30px; top:20px;">
                    <img src="https://dasima.xyz/wp-content/uploads/2018/09/img-src-ufo-2.png" alt="dummyImage">
                </div>
                <div class="inquiry line"
                    style="width: 330px; height: 2px; background-color: gray; margin: 20px 1px 1px 1px; left: 13px;">
                </div>
                <div class="inquiry carnum">차량번호 :</div>
                <div class="inquiry location">발견위치</div>
                <ul class="inquiry detailLocation" style="list-style-type: square;">
                    <li>지번주소 :</li>
                    <li>도로명주소 :</li>
                </ul>
                <div class="inquiry date">발견날짜 :</div>
                <div class="inquiry time">발견시각 :</div>
                <!-- 인스턴스조회 박스 -->
            </div>
        </div>
        <!-- <script type=" text/javascript" src="../static/js/kakaoMap.js"></script> -->
    </div>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'js/mouseEvent.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/instanceButton.js') }}"></script> -->




    <script>
        // test data of '12가3456'
        // 클릭시에 위도경도값을 동적으로 생성하여 만들어야함
        var test_position = [
            {
                title: '12가1111',
                latlng: new kakao.maps.LatLng(37.55222645660858, 127.07402497111372),
                image: '../static/images/영실관.jpg'
            },
            {
                title: '12가2222',
                latlng: new kakao.maps.LatLng(37.55236254929694, 127.0733490544685),
                image: '../static/images/충무관.jpg'
            },
            {
                title: '12가3333',
                latlng: new kakao.maps.LatLng(37.551894729639535, 127.07405715762066),
                image: '../static/images/율곡관.jpg'
            },
            {
                title: '12가4444',
                latlng: new kakao.maps.LatLng(37.551666484410134, 127.07433172732024),
                image: '../static/images/학술정보원.jpg'
            },
            {
                title: '12가5555',
                latlng: new kakao.maps.LatLng(37.55040370778018, 127.0732566803555),
                image: '../static/images/광개토관.jpg'
            },
            {
                title: '12가6666',
                latlng: new kakao.maps.LatLng(37.549956632654954, 127.07453618415181),
                image: '../static/images/세종관.jpg'
            },
            {
                title: '12가7777',
                latlng: new kakao.maps.LatLng(37.568, 127.08453618415181),
                image: '../static/images/세종관.jpg'
            }
        ];

        //======================================(Regrading of API)======================================
        // window.onload = function () {
        // alert('카카오맵 호출');
        var msg = '{{ msg }}';
        if (msg == '[제출실패]') {
            alert('Excel파일을 제출해주세요..');
        }

        // function markerOn() {
        //     alert('marker On');
        // }

        // function markerOff() {
        //     alert('marker Off');
        // }




        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.55222645660858, 127.07402497111372), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 지도를 클릭했을때, 해당 좌표를 반환합니다.
        kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
            // 클릭한 위치에 마커를 표시합니다
            alert('< Return the location Info you clicked >\n' + 'latitude : ' + mouseEvent.latLng.getLat() + '\nlongitude : ' + mouseEvent.latLng.getLng());   // 위/경도 얻기
        });

        // 지도에 표시된 마커 객체를 가지고 있을 배열입니다
        var markers = [];

        // 마커 하나를 지도위에 표시합니다 
        // addMarker(new kakao.maps.LatLng(33.450701, 126.570667));

        // 리버스 지오코딩 서비스
        var geocoder = new kakao.maps.services.Geocoder();
        // 마커를 생성하고 지도위에 표시하는 함수입니다
        function addMarker(position) {
            alert(position.length + "개의 마커를 생성합니다.");

            // 마커를 생성합니다
            for (i = 0; i < position.length; i++) {
                var marker = new kakao.maps.Marker({
                    position: position[i].latlng,
                    title: position[i].title
                    // clickable: true //마커클릭시 지도클릭 이벤트방지용
                });

                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);

                // 생성된 마커를 배열에 추가합니다
                markers.push(marker);

                // var lat = marker.getPosition().getLat();
                // var lng = marker.getPosition().getLng();
                var imagePath = position[i].image;
                var testContent = "";

                // 커스텀오버레이 구현
                var overlay = new kakao.maps.CustomOverlay({
                    content: testContent,
                    position: position[i].latlng
                })

                // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
                // 이벤트 리스너로는 클로저를 만들어 등록합니다 
                // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
                kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, imagePath, overlay));
                kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(overlay));
                kakao.maps.event.addListener(marker, 'click', makeClickListener(marker));
            }
        }

        // function startReverseGeocoding() {
        //     alert('리버스지오코딩!');
        // }

        function searchDetailAddrFromCoords(coords, callback) {
            // alert(coords.getLat() + "  " + coords.getLng());
            // alert('리버스지오코딩 실행!');
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }

        // mouseon 일 경우, 커스텀오버레이 발생 
        function makeOverListener(map, marker, imagePath, overlay) {
            return function () {
                // alert("Marker 마우스오버이벤트 발생!");
                searchDetailAddrFromCoords(marker.getPosition(), function (result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        // alert("리버스지오코딩된 결과물 반환!");
                        var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                        detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                    }
                    overlay.setContent(
                        '<div class=\"wrap\">' +
                        '                  <div class=\"info\">' +
                        '                       <div class=\"title\">' + marker.getTitle() + '</div>' +
                        '                       <div class=\"body\">' +
                        '                           <div class=\"img\">' +
                        '                               <img src=\"' + imagePath + '\" width=\"100\" height=\"100\">' +
                        '                           </div>' +
                        '                           <div class=\"desc\">' +
                        '                               <div class=\"ellipsis\">' + detailAddr + ' </div>' +
                        '                               <div class=\"jibun ellipsis\">위도 : ' + marker.getPosition().getLat() + '</div>' +
                        '                               <div class=\"jibun ellipsis\">경도 : ' + marker.getPosition().getLng() + '</div>' +
                        '                               <div class=\"jibun ellipsis\">시각 : (논의예정) </div>' +
                        '                           </div>' +
                        '                       </div>' +
                        '                   </div>' +
                        '               </div>'
                    );
                    // overlay.setMap(map)
                });
                overlay.setMap(map)
            };
        }

        // mouseout 일 경우, 커스텀오버레이 삭제
        function makeOutListener(overlay) {
            return function () {
                overlay.setMap(null)
            };
        }


        // Marker 클릭 시, 인스턴스조회 발생 
        function makeClickListener(marker) {
            return function () {
                alert('인스턴스 조회');

            };
        }

        // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
        function setMarkers(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
        function showMarkers() {
            setMarkers(map)
        }

        // "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
        function hideMarkers() {
            setMarkers(null);
        }

        //======================================(Except of API)======================================
        // 조회된 버튼들을 관리
        hasButton = [];
        selectedCheck = [];

        function randomColor() {
            var r = Math.round((Math.random() * (240 - 20 + 1)) + 20);
            var g = Math.round((Math.random() * (240 - 20 + 1)) + 20);
            var b = Math.round((Math.random() * (240 - 20 + 1)) + 20);

            // rgb(r,g,b) to String
            var colorCode = "rgb(" + r + "," + g + "," + b + ")";
            return colorCode;
        }

        function paintToDo(result) {
            alert(result['toggle'] + "," + result['carnum']);
            toggle = result['toggle'];
            carnum = result['carnum'];
            if (toggle == 1) {
                // alert('버튼그리기');
                // alert(carnum.length)
                // alert("버튼추가여부 : " + check.val);
                // alert("이미 추가된 버튼 : " + check.div.innerHTML);

                for (i = 0; i < carnum.length; i++) {
                    var newDIV = document.createElement("div");
                    newDIV.innerHTML = carnum[i];

                    check = checkAndPush(newDIV.innerHTML);
                    if (check.value == "success") {
                        color = randomColor();
                        var p = document.getElementById("searchDisplay");
                        newDIV.setAttribute('class', 'newButton');
                        newDIV.style.transition = "opacity 0.5s";
                        newDIV.style.background = "linear-gradient(90deg," + color + " 100px, #ffffff 50px)";
                        newDIV.style.margin = "3px 3px 3px 3px";
                        newDIV.style.height = "60px";
                        newDIV.style.borderRadius = "10px 10px 10px 10px";
                        newDIV.style.lineHeight = "60px";
                        newDIV.style.fontWeight = "bold";
                        newDIV.style.cursor = "pointer";
                        newDIV.style.border = "2px solid " + color;
                        newDIV.style.position = 'relative';
                        newDIV.setAttribute("class", "instance");

                        // 버튼에 "클릭 이벤트" 삽입
                        // 1. 클릭 시

                        //  API에게 차량번호와 위도/경도를 전달
                        // 2. 클릭 시 클릭한 버튼에 체크아이콘 삽입
                        newDIV.onclick = function () {
                            // alert("\"" + this.innerHTML + "\" 에 대한 Marker(들)를 생성합니다.");
                            if (selectedCheck.length != 0) {
                                // alert('배열이 비어있지 않습니다. 이전선택을 취소합니다.');
                                var parent = selectedCheck[0].parentNode;
                                var child = selectedCheck[0];

                                parent.removeChild(child);
                                selectedCheck.pop();
                            }
                            var checkIcon = document.createElement("i");
                            checkIcon.setAttribute('class', 'material-icons md-45');
                            checkIcon.innerHTML = 'done';
                            checkIcon.style.fontSize = '45px';
                            checkIcon.style.position = 'absolute';
                            checkIcon.style.left = '280px';
                            checkIcon.style.color = 'rgba(255,0,0,1)';
                            checkIcon.style.opacity = '0.3';

                            alert(checkIcon.innerHTML);
                            this.appendChild(checkIcon);
                            selectedCheck.push(checkIcon);

                            addMarker(test_position);
                        }

                        // 버튼에 "마우스오버 이벤트" 삽입
                        newDIV.onmouseover = function () {
                            event.target.style.transform = "scale(0.9)";
                            event.target.style.transition = "all 0.3s";
                        }

                        // 버튼에 "마우스아웃 이벤트" 삽입
                        newDIV.onmouseout = function () {
                            event.target.style.transform = "scale(1)";
                            event.target.style.transition = "all 0.3s";
                        }
                        hasButton.push(newDIV)
                        p.appendChild(newDIV);
                    } else {
                        divFocus(check.div);
                        blink(check.div);
                        break;
                    }

                }
                // alert('버튼추가완료!' + '   {{askInsert}}');
            } else {
                alert('버튼추가실패!');
            }
            $('#input').val('');
            // 현재 조회된 Button 개수
            // alert("현재 버튼 개수 : " + hasButton.length + "개");
            // for (i = 0; i < hasButton.length; i++) {
            //     alert(hasButton[i].innerHTML);
            // }
        }

        function checkAndPush(inputCarnum) {
            for (i = 0; i < hasButton.length; i++) {
                // alert(hasButton[i].innerHTML);
                if (hasButton[i].innerHTML == inputCarnum) {
                    alert(inputCarnum + " 이미 존재하는 버튼입니다.");
                    return {
                        value: "faile",
                        div: hasButton[i]
                    }
                }
            }
            return {
                value: "success",
                div: null
            }
        }


        // 입력한 차량번호와 같은 차량번호튜플이 존재하는지 확인후, 있다면 버튼추가
        $(function () {
            $('#ajax').click(function () {
                // alert('아작스 버튼이벤트 발생!');
                var formEdit = $("#input").val();
                // alert(formEdit + "를 전송합니다.")
                alert(formEdit + " 입력");
                if (formEdit == "") {
                    alert("select * from class1을 위한 ajax 진입!")
                    $.ajax({
                        type: 'GET',
                        url: '/searchCar',
                        data: { id: formEdit },
                        dataType: 'JSON',
                        success: function (result) {
                            // alert("결과 : " + result['carnum'] + "," + result['toggle']);
                            // alert('아작스 제출성공!');
                            paintToDo(result);
                        },
                        error: function (request, status, error) {
                            alert(request + ";" + status + ";" + eror);
                            alert('ajax error!');
                        }
                    });
                } else {
                    $.ajax({
                        type: 'GET',
                        url: '/searchCar',
                        data: { id: formEdit },
                        dataType: 'JSON',
                        success: function (result) {
                            // alert("결과 : " + result['carnum'] + "," + result['toggle']);
                            // alert('아작스 제출성공!');
                            paintToDo(result);
                        },
                        error: function (request, status, error) {
                            alert(request + ";" + status + ";" + eror);
                            alert('ajax error!');
                        }
                    });
                }
                // alert('form 전송성공!');
            });
        });
        $('#input').keypress(function (keyNum) {
            if (keyNum.which == 13) {
                $('#ajax').click();
                return false;
            }
        })

        // 자동포커스
        function divFocus(div) {
            // 방법 1 : 사용하기 쉬우나, 애니메이션 없음
            // $(hasButton)[9].scrollIntoView(true);

            // 방법 2 : 상대적인 위치(position) / 절대적인 위치(offset)을 찾아
            //          위치정보를 저장하고, animate의 속성값인 scrollTop을 이용하여 스크롤하기
            var scrollPosition = $(div).position().top;

            $("#searchDisplay").animate({
                scrollTop: scrollPosition
            }, 600);

        }

        var saveBlink;
        function blink(div) {
            // 방법1 : fadeOut과 fadeIn을 재귀호출하여 무한반복 / 마우스오버시 종료
            // 문제 : 새로운 함수 호출시 속도가 제곱으로 증가하며, 늘어나는 프로세스를 종료시키지 못함..
            // $(div).fadeOut('fast', function () {
            //     $(this).fadeIn('fast', function () {
            //         blink(this)
            //     });
            // });
            // $(div).mouseover(function () {
            //     $(div).stop().fadeTo('fast', 1.0)
            // })


            // 방법 2 : setInterval을 통해 blink하는 함수를 호출
            // 방법 1과 비교 : 메모리에서 실행중인 프로세스를 강제종료 가능
            var val = null;
            if (val == null) {
                saveBlink = div
                val = setInterval(blinkMessage, 700);
            }
            $(div).mouseover(function () {
                if (val != null) {
                    clearInterval(val);
                    val = null;
                    $(div).removeClass("blink");
                }
            });
            $('#ajax').click(function () {
                alert('blink 강제 종료');
                clearInterval(val);
                val = null
                $(div).removeClass("blink");
            })

        }
        function blinkMessage() {
            $(saveBlink).toggleClass("blink");
        }
    </script>
</body>

</html>