<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/introductionMap.css">
    <link rel="stylesheet" href="../static/css/sideBar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/servicesmodel.css" <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="../static/js/sideBar.js"></script>
    <script src="https://kit.fontawesome.com/98399ba990.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="#">
</head>


<body>
    <header
        style="background-color: rgba(128,128,128,1.0);margin: 0; height: 100px; text-align: center;line-height: 100px;">
        <img class="logo" src="../static/images/Logo.png" alt="Logo" style="width:150px;vertical-align: middle;"
            onclick="alert('차찾자 서비스에 오신것을 환영합니다^^\nFrom. 군자동삼겹살 일동')" />
    </header>



    <div id="page">
        <div id="body">
            <nav id="mySidenav" class="sidenav">
                <a class="T" href="http://localhost:5000/"><i class="fas fa-home" style="font-size: 40px;"></i></a>
                <a id="closeNav" href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
                <a class="T" href="#">서비스구성</a>
                <a class="C" href="http://localhost:5000/servicesmodel">&nbsp&nbsp&nbspModel</a>
                <a class="C" href="http://localhost:5000/servicesweb">&nbsp&nbsp&nbspWeb</a>
                <a class="C" href="http://localhost:5000/servicesserver">&nbsp&nbsp&nbspServer</a>
                <a class="C" href="http://localhost:5000/servicesapi">&nbsp&nbsp&nbspAPI</a>
                <a class="C" href="http://localhost:5000/servicesdb">&nbsp&nbsp&nbspDB</a>
            </nav>
            <aside style="display:inline-block; margin-top: 20px;margin-left: 30px;">
                <span id="openNav" style="font-size:30px;cursor:pointer;" onclick="openNav();">&#9776;
                    Menu</span>
            </aside>
            <div class="header">
                <div id="who">
                    <h1>Model</h1>
                    <ul>
                        <li>
                            <a href="#"><img src="../static/images/servicesmodel/yolov4.png" alt=""></a>
                            <div>
                                <h1>Yolov4 </h1>
                                <p>(1)Car Detection Picture<br>
                                    YoloV4모델을 통해서 차량의 사진을 먼저 잘라내고 해당 사진에서 WPod-Net을 활용하여 번호판을 기울어짐 없이 획득한다.<br>
                                    <br>
                                    (2)License Plate Picture<br>
                                    YoloV4모델을 통해서 얻은 번호판 사진은 (1)에서 아무런 값도 획득하지 못했을 때 활용하도록 하였다.
                                    Wpod Net 또한 darknet을 기반으로 둔 모델이고 휘어진 번호판 사진을 보정해주는 역할을 한다.<br>
                                    Wpod Net 및 YoloV4를 사용하여 Detection 및 de-skewing 과정을 진행한 후에는
                                    CRNN 모델을 이용하여 OCR 작업을 진행하였다.
                                </p>

                            </div>
                        </li>
                        <li>
                            <a href="#"><img src="../static/images/servicesmodel/crnn.png" alt=""></a>
                            <div>
                                <h1>CRNN 추론과정</h1>
                                <p>(1)CNN을 통해 입력 이미지로부터 feature sequence 를 획득한다.<br>
                                    (2)추출한 feature sequence 를 RNN의 입력으로 하여 이미지의 텍스트 시퀀스를 예측한다.<br>
                                    (3)예측된 텍스트 시퀀스를 텍스트로 변환한다.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="i">
                                <h1>추상화</h1>
                                <a href="#"><img class="im" src="../static/images/servicesmodel/totalPicture.jpg"
                                        alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 사이드바 -->
    <div id="nav-sub">
        <!-- <i id="icon" class="fas fa-map-marked-alt"></i> -->
        <img class="logo" id="logo" src="../static/images/Logo.png" alt="Logo"
            onclick="alert('차찾자 서비스에 오신것을 환영합니다^^\nFrom. 군자동삼겹살 일동')" />
        <p>차찾자 Corp.</p>
        <p>LPR-based Data Visualization Services</p>
    </div>
    <footer class="footer-basic">
        <div class="social">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/RaicLee/Capstone_Design"><i class="fab fa-github"></i></a>
        </div>

        <ul class="list-inline">
            <li class="list-inline-item"><a href="http://127.0.0.1:5000/">Home</a></li>
            <li class="list-inline-item"><a href="http://127.0.0.1:5000/xlupload">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">(주)차찾자 | 대표: 군자동 삼겹살 <br>
            주소: 서울특별시 광진구 능동로 209<br>
            개인정보 처리방침 | 서비스 이용 약관 <br><br>
            @ 2021.CCC Corp., Inc.All rights reserved <br><br><br><br></p>
    </footer>
</body>

</html>