<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="../static/js/btnactive.js"></script>
    <script type="text/javascript" src="../static/js/navigation.js"></script>
    <script src="https://kit.fontawesome.com/98399ba990.js" crossorigin="anonymous"></script>

    <link href="{{url_for('static',filename='css/up.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/mainfooter.css">
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <title>upload</title>
</head>

<body>
    <div class="header"
        style="background-color: rgba(128,128,128,1.0);margin: 0; height: 100px; text-align: center;line-height: 100px;">
        <img class="logo" src="../static/images/Logo.png" alt="Logo" style="width:150px;vertical-align: middle;"
            onclick="alert('차찾자 서비스에 오신것을 환영합니다^^\nFrom. 군자동삼겹살 일동')" />
    </div>
    <div class="nav-container">
        <ul class="nav">
            <li class="dropdown">
                <a href="#">서비스소개</a>
                <div class="dropdown-content">
                    <a href="http://localhost:5000/introductionList">번호인식 서비스</a>
                    <a href="http://localhost:5000/introductionMap">맵 조회 서비스</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#news">서비스구성</a>
                <div class="dropdown-content">
                    <a href="http://localhost:5000/servicesmodel">Model</a>
                    <a href="http://localhost:5000/servicesweb">Web</a>
                    <a href="http://localhost:5000/servicesserver">Server</a>
                    <a href="http://localhost:5000/servicesapi">API</a>
                    <a href="http://localhost:5000/servicesdb">DB</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">서비스 이용방법</a>
                <div class="dropdown-content">
                    <a href="http://localhost:5000/howtolist">리스트 조회</a>
                    <a href="http://localhost:5000/howtomap">맵 조회</a>
                    <a href="#">파일 로컬저장</a>
                    <a href="#">유의사항</a>
                </div>
            </li>
            <li class="dropdown"><a href="http://localhost:5000/developer">개발자</a></li>
        </ul>
    </div>
    {% if alert==-1 %}
    <script>alert("이미지를 먼저 업로드 해주세요!")</script>{% endif %}
    <div class="bossContainer">
        <div class="container">
            <h1><button class="linkbox" style="position: absolute;top: -140px;left: 415px;"
                    onClick="location.href='http://localhost:5000/'"><strong>번호인식
                        페이지 <i class="fas fa-mouse-pointer"></i></strong></button></h1>
            <h1 style="display: block;text-align:center; font-size: 50px; height: 100px;margin-bottom: 30px;">
                List Inquiry
                Service
                <i class="material-icons md-55" style="position: relative;top: 10px; height: 55px">
                    format_list_bulleted
                </i>
                <button class="linkbox" style="position: absolute;top: -140px;left: 800px;"
                    onClick="location.href='http://localhost:5000/xlupload'"><strong>맵 조회 페이지 <i
                            class="fas fa-mouse-pointer"></i></strong></button>
            </h1>
            <div id="frame3"><br>
                <div id="right_box">
                    <form method=post enctype=multipart/form-data>
                        <div class="filebox">
                            <label for="fb"><img src="/static/images/upload.png"
                                    style=" width:100px;height:100px;"><strong>
                                    upload</strong></label>
                            <input multiple=multiple type=file name=file[] id="fb">
                        </div>
                        <div class="filebox">
                            <label for="sm"><img src="/static/images/transform.png"
                                    style="width:100px;height:100px;"><strong> transform</strong></label>
                            <input type=submit value=upload id="sm">
                        </div>
                    </form>
                    {% if active==0 %}<button class="download_box" onClick="alert('이미지를 먼저 업로드 해주세요!')"><strong>download
                            images</strong></button>{% elif active==1 %}<a
                        href="./static/result/transformed_{{nowtime}}.zip" download="transformed_{{nowtime}}"><button
                            class="download_box btn" alert="모든 이미지 저장 완료!"><strong>download
                                images</strong></button></a>{%
                    endif %}
                    {% if active==0 %}<button class="download_box" onClick="alert('이미지를 먼저 업로드 해주세요!')"><strong>download
                            excel</strong></button>{% elif active==1 %}<a href="./static/excel/excel{{nowtime}}.xlsx"
                        download="excel{{nowtime}}"><button class="download_box btn" alert="엑셀 저장 완료!"><strong>download
                                excel</strong></button></a>{% endif %}
                </div>
                <div id="left_box">
                    <div class="in_left_box1" >
                        <h2>uploaded image</h2>{% if img_src %}{% for img in img_src %}<img src="{{ img }}"
                            style="width:500px;">{% endfor %}{% endif %}
                    </div>
                    <div class="in_left_box2" >
                        <h2>transformed image</h2>{% if car_source %}{% for i in range(car_source|length) %}{% for j in
                        range(car_source[i]|length) %}<a href="{{car_source[i][j]}}"
                            download="{{nowtime}}/{{i}}/{{j}}"><img src="{{ car_source[i][j] }}"
                                style=width:340px;height:80px;></a>{% endfor %}
                        <hr>{% endfor %}{% endif %}
                    </div>
                    <div class="in_left_box3">{% for i in range(car_num | length) %}{% for j in range(car_num[i] |
                        length)
                        %}
                        {% if car_num[i][j] %}차량번호 : {{ car_num[i][j] }}{% endif %}
                        촬영 시간 :{% if car_time[i] %} {{car_time[i]}}{% else %} 존재하지 않습니다.{% endif %}
                        위도 정보 :{% if car_lalo[i] %} {{car_lalo[i]}}{% else %} 존재하지 않습니다.{% endif %}
                        <hr>
                        {% endfor %}{% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="footer-basic">
        <div class="social" style="margin-top: 0px;">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/RaicLee/Capstone_Design"><i class="fab fa-github"></i></a>
        </div>

        <ul class="list-inline">
            <li class="list-inline-item"><a href="http://127.0.0.1:5000/">Home</a></li>
            <li class="list-inline-item"><a href="http://127.0.0.1:5000/xlupload">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">(주)차찾자 | 대표: 군자동 삼겹살 <br>
            주소: 서울특별시 광진구 능동로 209<br>
            개인정보 처리방침 | 서비스 이용 약관 <br><br>
            @ 2021.CCC Corp., Inc.All rights reserved <br><br><br><br></p>
    </footer>
</body>

</html>