<!DOCTYPE html>
<html>

<head>
    <link href="{{url_for('static',filename='css/up.css')}}" rel="stylesheet" >
    <title>upload</title>
</head>

<body>
    <div class="container">
        <div id="frame1">
            <br>
            <h1>Lorem Ipsum</h1>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!</p>
        </div>
        <div id="frame2">
            <br>
            <h1>Lorem Ipsum</h1>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit 
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!</p>
        </div>
        <div id="frame3"><br>
            <h1>Data Abstract</h1><hr>
            <div id="right_box">upload : 이미지 업로드.<br>transform : 이미지 변환<br>download image : 변환된 이미지 저장<br>download excel : 전체 데이터 저장<hr>
                    
                    <form method=post enctype=multipart/form-data>
                        <div class="filebox"><label for ="fb"><img src="/static/images/upload.png" alt="upload" style=" width:100px;height:100px;">upload</label><input type=file name=file id="fb"></div>
                        <div class="filebox"><label for ="sm"><img src="/static/images/transform.png" style="width:100px;height:100px;">transform</label><input type=submit value=Upload id="sm"></div>
                    </form>
                <button class="download_box btn" onclick="alert('이미지저장완료!')"><strong>download image</strong></button>
                <button class="download_box btn" onclick="alert('엑셀저장완료!')"><strong>download excel</strong></button>
            </div>
            <div id="left_box">
                <div class="in_left_box1">{% if img_src %}<img src="{{ img_src }}">{% endif %}</div>
                <div class="in_left_box2">{% if lpd_src %}<img src="{{ lpd_src }}">{% endif %}</div>
                <div class="in_left_box3">{% if extracted_text %}{{extracted_text }}{% else %}{% endif %}</div>
            </div>
        </div>
        <div id="frame4">
            <br>
            <h1>Lorem Ipsum</h1>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!</p>
        </div>
        <div id="frame5">
            <br>
            <h1>Lorem Ipsum</h1>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto quis soluta ratione nam? Suscipit
                laudantium nesciunt fugiat quas libero, distinctio ducimus vero? Inventore voluptate facilis
                perspiciatis! Perferendis quas aut repellat!</p>
        </div>
        <div id="footer">
            <br>
            <h1>Lorem Ipsum</h1>
            <br>
            <br>
            <p>footer</p>
        </div>
    </div>
</body>

</html>
